{% extends "base.html" %}

{% load static %}

{% block head %}
<!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>-->
{% endblock head %}

{% block body_class %}contact_page{% endblock body_class %}

{% block title %}Happy Dev - Toulouse{% endblock title %}


{% block main_title %}{% endblock main_title %}

{% block content %}

<div class="contact_page_container alignfull">

    <div class="m_columns m_column_50 ">

        <div class="m_columns__column yellow m_scroll slide_left">
        
            <p>Vous avez des questions sur notre façon de travailler ?<br/>
            Un projet à nous confier ? </p>
            
            <p>Contactez-nous, nous vous répondrons dans les meilleurs délais.</p> 
            
            <p>En attendant, n'hésitez pas à nous suivre 👉
                <a target="_blank" href="https://www.linkedin.com/company/happydev-toulouse">
                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24.1429 0H1.85134C0.829911 0 0 0.841518 0 1.87455V24.1254C0 25.1585 0.829911 26 1.85134 26H24.1429C25.1643 26 26 25.1585 26 24.1254V1.87455C26 0.841518 25.1643 0 24.1429 0ZM7.85804 22.2857H4.00446V9.87768H7.86384V22.2857H7.85804ZM5.93125 8.18304C4.69509 8.18304 3.69687 7.17902 3.69687 5.94866C3.69687 4.7183 4.69509 3.71429 5.93125 3.71429C7.16161 3.71429 8.16562 4.7183 8.16562 5.94866C8.16562 7.18482 7.16741 8.18304 5.93125 8.18304ZM22.3031 22.2857H18.4496V16.25C18.4496 14.8107 18.4205 12.9594 16.4473 12.9594C14.4393 12.9594 14.1317 14.5263 14.1317 16.1455V22.2857H10.2781V9.87768H13.975V11.5723H14.0272C14.5437 10.5973 15.8031 9.57009 17.6777 9.57009C21.5777 9.57009 22.3031 12.1411 22.3031 15.4839V22.2857Z" fill="#F2EEE1"/>
                    </svg>
                </a>
            </p>

        </div>

        <div class="m_columns__column m_scroll slide_right">

            {% include "home/partials/contact_form.html" %}

        </div>

    </div>
</div>

{% endblock content %}
