{% extends "base.html" %}

{% load static %}

{% block title %}Happy Dev - Toulouse{% endblock title %}

{% block content %}

    <section id="presentation_HD">
        <div class="m_scroll fade_in text-left w-1/2">
            <p class="my-12 text-xl">Un <b>réseau d'indépendants du numérique</b> qui regroupe toutes les compétences pour <span class="text-purple">imaginer</span>, <span class="text-purple">construire</span> puis <span class="text-purple">opérer</span> <b>vos plateformes digitales</b>.</p>
        </div>
    </section>

    <div class="m_scroll fade_in flex w-full justify-center my-24">
        <img src="{% static '/img/briques-hd-min.png' %}" />
    </div>

    <section id="expertises_HD">

        <h2 class="my-8 m_scroll fade_in">Nos expertises</h2>
    
        <p class="my-2">Besoin de monter équipe sur-mesure ou de renforcer votre équipe produit ?</p>
        <p class="my-2">Happy Dev Toulouse et le réseau France, c'est plus d'une centaines de freelances disponibles pour de garantir la réussite de vos projets.</p>

        <div x-data="{ tab: 'WEBDESIGN', }" class="my-8 bg-yellow-200">
            <div class="flex justify-around gap-4 bg-purple-600 items-center h-20 p-4">
                <span 
                    class="block text-white/60 hover:text-yellow-medium text-xl font-extrabold font-bigjohn cursor-pointer"
                    :class="{'text-yellow-200' : tab === 'WEBDESIGN'}"
                    @click="tab = 'WEBDESIGN'"
                >
                    WEBDESIGNERS
                </span>
                <span
                    class="block text-white/60 hover:text-yellow-medium text-xl font-extrabold font-bigjohn cursor-pointer"
                    :class="{'text-yellow-200' : tab === 'GRAPHISME'}"
                    @click="tab = 'GRAPHISME'"
                >
                    GRAPHISTES
                </span>
                <span 
                    class="block text-white/60 hover:text-yellow-medium text-xl font-extrabold font-bigjohn cursor-pointer"
                    :class="{'text-yellow-200' : tab === 'DEV'}"
                    @click="tab = 'DEV'"
                >
                    DEVELOPPEURS
                </span>
                <span
                    class="block text-white/60 hover:text-yellow-medium text-xl font-extrabold font-bigjohn cursor-pointer"
                    :class="{'text-yellow-200' : tab === 'PILOTAGE'}"
                    @click="tab = 'PILOTAGE'"
                >
                    CHEF DE PROJETS
                </span>
            </div>

            <div class="grid-stack">
                <div 
                    x-show="tab === 'DEV'"
                    x-cloak
                    x-transition.in
                    x-transition:enter.duration.1000ms
                    class="p-4 text-left flex items-top gap-16"
                >
                    <img src="{% static 'home/img/picto_dev.png' %}" class="max-w-32 max-h-32"/>
                    <div class="flex-grow">
                        <p class="my-1">Nos développeurs vous accompagne dans vos projets numériques, depuis votre simple souhaite d'avoir une vitrine sur le web jusqu'à la conception d'applications SaaS complexes, en passant par votre site e-commerce.</p>

                        <p class="my-1">Nos technologies de prédilection sont :</p>
                        <div class="flex flex-wrap mx-auto gap-2 xl:gap-4 w-1/2">
                            <div class="flex justify-center items-center bg-white p-2 rounded-lg"><img src="{% static 'img/wordpress.png' %}" class="m-1 max-w-24 max-h-24" /></div>
                            <div class="flex justify-center items-center bg-white p-2 rounded-lg"><img src="{% static 'img/wagtail.jpg' %}" class="max-w-24 max-h-24" /></div>
                            <div class="flex justify-center items-center bg-white p-2 rounded-lg"><img src="{% static 'img/alpine.js.svg' %}" class="max-w-24 max-h-24" /></div>
                            <div class="flex justify-center items-center bg-white p-2 rounded-lg"><img src="{% static 'img/tailwind-css.svg' %}" class="max-w-24 max-h-24" /></div>
                            <div class="flex justify-center items-center bg-white p-2 rounded-lg"><img src="{% static 'img/django-logo.png' %}" class="max-w-24 max-h-24 m-1" /></div>
                            <div class="flex justify-center items-center bg-white p-2 rounded-lg"><img src="{% static 'img/fastapi.png' %}" class="max-w-24 max-h-24 " /></div>
                            <div class="flex justify-center items-center bg-white p-2 rounded-lg"><img src="{% static 'img/python-logo.jpg' %}" class="max-w-24 max-h-24" /></div>
                            <div class="flex justify-center items-center bg-white p-2 rounded-lg"><img src="{% static 'img/php.png' %}" class="max-w-24 max-h-24" /></div>
                        </div>

                        <p>N'hésitez pas à nous contacter pour la réalisation de vos projets ou renforcer vos équipes internes. Nos développeurs sont expérimentés, autonomes et immédiatement opérationnels.</p>
                    </div>
                </div>

                <div 
                    x-show="tab === 'WEBDESIGN'"
                    x-transition.in
                    x-transition:enter.duration.1000ms
                    class="bg-yellow-medium p-4 text-left flex items-top gap-16"
                >
                    <img src="{% static 'home/img/picto_web-design.png' %}"  class="max-w-32 max-h-32"/>
                    <div class="flex-grow">
                        <p>Nos UI & UX designers vous accompagnent pour la <b>création sur-mesure ou la refonte</b> de votre <b>site vitrine ou marchand</b>, de votre <b>application web ou mobile</b>. Nous concevons des interfaces attractives et ergonomiques, en suivant une méthodologie une méthodologie adaptée à votre projet web :</p>
                    
                        <ul class="flex flex-col gap-4 my-4 list-disc ml-4">
                            <li>
                                <b>Phase de cadrage :</b> avant de nous lancer dans le design en tant que tel, nous prenons le temps d'évaluer vos objectifs, cerner toutes vos problématiques attentes... ainsi que celles des utilisateurs finaux !
                            </li>
                            <li>  
                                <b>Maquettes fonctionnelles :</b> une fois le périmètre du projet bien posé, nous passons à la conception UX, avec des wireframes qui restituent la structure de chaque page et l’ensemble du parcours utilisateur
                            </li>
                            <li>
                                <b>Maquettes graphiques :</b>  nous vous proposons une direction artistique en phase avec votre identité visuelle et votre positionnement. Puis nous la déclinaions aux maquettes de l’interface, toujours en veillant à respecter les standards actuels du web. <b>Un prototype interactif</b> permet de tester en conditions quasi-réelles les interfaces au format desktop et mobile avant de lancer la phase d’intégration.
                            </li>
                        </ul>
                    </div>
                </div>

                <div   
                    x-show="tab === 'GRAPHISME'"
                    x-cloak
                    x-transition.in
                    x-transition:enter.duration.1000ms
                    class="bg-yellow-medium p-4 text-left flex items-top gap-16"
                >
                    <img src="{% static 'home/img/picto_graphisme.png' %}"  class="max-w-32 max-h-32"/>
                    <div class="flex-grow"> 
                        <p>De la <b>création de votre logo</b> à la déclinaison de celui-ci sur l’ensemble de vos outils de communication, le graphiste est l’interlocuteur idéal pour vous accompagner dans la définition de votre identité visuelle.</p>
                        <p>
                            Il vous accompagne dans la conception de <b>vos outils de communication print ou web</b>. 
                            De la <b>plaquette commerciale</b> en passant par le design de votre <b>carte de visite</b>, ou la création d’une <b>affiche</b>, mais aussi dans la conception de votre <b>signalétique</b>. 
                            Votre graphiste est le garant de la cohérence graphique de vos supports de communication. 
                            Il peut également vous concevoir vos images pour le web ou les réseaux sociaux.
                        </p>
                    </div>
                </div>

                <div   
                    x-show="tab === 'PILOTAGE'"
                    x-cloak
                    x-transition.in
                    x-transition:enter.duration.1000ms
                    class="bg-yellow-medium p-4 text-left flex items-top gap-16"
                >
                    <img src="{% static 'home/img/picto_pilotage.png' %}"  class="max-w-32 max-h-32"/>
                    <div class="flex-grow">
                        <div class="border-l-4 border-yellow-600 bg-yellow-100 text-yellow-600 p-4 my-8 w-2/3">
                            <p class="italic text-xl font-bold">"Lean thinking is about creating the most value for the customer while minimizing resources, time, energy, and effort."</p>
                            <p class="text-right">James P. Womack</p>
                        </div>

                        <p class="my-2">
                            Que vous évoluiez dans un <b>cadre agile</b> ou selon un <b>cycle en V</b> plus traditionnel, nos freelances s'adaptent pour garantir une transition fluide, éviter les frictions et établir des rapports de confiance avec tous les intervenants.
                        </p>

                        <h4 class="mt-4">Le Scrum Master - Votre agent fluidifiant</h4>
                        <p class="my-2">
                            Le Scrum Master garantit un <b>développement fluide</b> et efficace au sein de votre équipe. En tant que gardien de la transparence et de la communication, il veille au <b>respect des rituels</b> agiles et s’assure que tous les obstacles sont levés pour permettre à l'équipe d'avancer sereinement.
                        </p>
                        <p class="my-2">
                            Grâce à son écoute, sa disponibilité et sa maîtrise des méthodologies agiles, il aide l’équipe à <b>se recentrer</b> sur les activités qui apportent véritablement de la valeur. En identifiant les blocages et en mettant en œuvre les actions nécessaires pour les éliminer, il assure une progression continue. Il est également un facilitateur, aidant à mettre en place les outils et pratiques nécessaires pour que l’équipe puisse <b>s’auto-organiser</b> de manière autonome et performante.
                        </p>

                        <h4 class="mt-4">Le Chef de Projet - Votre pilote de confiance</h4>
                        <p class="my-2">
                            Véritable agent de la transparence, notre chef de projet met à votre disposition tous les outils nécessaires pour piloter efficacement vos projets. Avec un suivi rigoureux du <b>planning</b>, il vous informe en temps réel de ce qui est fait, en cours ou en retard, et vous offre une vision claire et précise du <b>budget</b>, de la consommation actuelle jusqu'aux prévisions d'atterrissage. Il assure également une évaluation continue de la <b>qualité</b> en supervisant les phases de tests et de recettes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="alignfull">

        <div class="contact__inner">

            <h2 class="m_scroll fade_in">Tout commence ici <lottie-player src="/static/img/lottie/index_finger.json" background="transparent"  speed="1"  style="vertical-align:top; width: 60px; height: 60px;" loop autoplay></lottie-player></h2>
            <p>Vous avez une idée, un projet à nous soumettre ?<br/>
                Vous souhaitez rejoindre le réseau HappyDev Toulouse ?</p>
            {% include "home/partials/contact_form.html" %}

        </div>

    </section>

    <section id="manifeste">

        <h2  class="m_scroll fade_in">Notre manifeste</h2>
                
        <div class="m_columns m_column_50 ">

            <div class="m_columns__column  m_scroll slide_left">

                <h4 class="purple_brique">Nous désirons avoir un impact positif sur le monde</h4>
                <p>Nous sommes conscients des enjeux de notre époque, et ne voulons pas rester simples spectateurs. Nous voyons dans les technologies numériques un puissant levier de transformation.</p>

                <h4 class="yellow_brique">Nous ne laissons pas une collaboration décevoir un client</h4>
                <p>Nous sommes solidaires et collectivement responsables du succès des projets. L'enthousiasme de nos clients est la clé de voûte qui assure la pérennité du réseau.</p>

                <h4 class="purple_brique">Nous aspirons à nous sentir libre</h4>
                <p>Le salariat est pour nous une forme d'asservissement. Happy Dev rend les membres du réseau autonomes et maîtres de leur destin.</p>
    
            </div>

            <div class="m_columns__column  m_scroll slide_right">

                <h4 class="yellow_brique">Nous aspirons à prendre notre pied dans le travail</h4>
                <p>Nous refusons de prendre part à toute activité qui nous rendrait malheureux ; l'épanouissement des membres du réseau est aussi importante que la recherche de revenus.</p>

                <h4 class="purple_brique">Nous considérons nos clients comme nous considérons nos amis</h4>
                <p>Ils sont les porteurs de projets au sein du réseau, nous ne faisons pas les projets POUR eux, mais AVEC eux.</p>

                <h4 class="yellow_brique">Notre métier est humain avant d'être technique</h4>
                <p>Nous pensons que l'excès de formalisme empêche l'épanouissement des relations humaines. C'est dans la confiance et l'écoute attentive des besoins que nous souhaitons honorer nos engagements.</p>
    
            </div>

            <!-- 2ème rangée 

            


            <div class="m_columns__column  m_scroll slide_right">
                <div class=" has_yellow_bg">

                Image

                </div>
            </div>-->
                
        </div>

        </div>

    </section>


    <section id="process">

        <h2 class="m_scroll fade_in my-8">Un process simple & transparent <lottie-player src="/static/img/lottie/gear.json" background="transparent"  speed="0.5"  style="margin-bottom: 8px; width: 50px; height: 50px;" loop autoplay></lottie-player></h2>
        <p>Le parcours classique d'un projet numérique : un cadre flexible, une méthodologie éprouvée</p>     


        <div class="m_columns m_column_33">

            <div class="m_columns__column m_scroll slide_left">

                <img class="process__img" src="{% static 'home/img/cadrage.png' %}">
                <h4>Cadrage</h4>
                <p>Nous explorons avec vous comme votre nouveau site ou app vient supporter votre stratégie et établissons ensemble les principaux indicateurs de performance.</p>
            
            </div>

            <div class="m_columns__column m_scroll fade_in_bottom">

                <img class="process__img" src="{% static 'home/img/specifications.png' %}">
                <h4>Specifications</h4>
                <p>Nous explorons avec vous comme votre nouveau site ou app vient supporter votre stratégie et établissons ensemble les principaux indicateurs de performance.</p>
            
            </div>

            <div class="m_columns__column m_scroll slide_right">

                <img class="process__img" src="{% static 'home/img/conception.png' %}">
                <h4>Conception</h4>
                <p>Nous explorons avec vous comme votre nouveau site ou app vient supporter votre stratégie et établissons ensemble les principaux indicateurs de performance.</p>
            
            </div>

            <div class="m_columns__column m_scroll slide_left">

                <img class="process__img" src="{% static 'home/img/marketing.png' %}">
                <h4>Marketing</h4>
                <p>Nous explorons avec vous comme votre nouveau site ou app vient supporter votre stratégie et établissons ensemble les principaux indicateurs de performance.</p>
            
            </div>

            <div class="m_columns__column m_scroll fade_in_bottom">

                <img class="process__img" src="{% static 'home/img/go_live.png' %}">
                <h4>Go live</h4>
                <p>Nous explorons avec vous comme votre nouveau site ou app vient supporter votre stratégie et établissons ensemble les principaux indicateurs de performance.</p>
            
            </div>

            <div class="m_columns__column m_scroll slide_right">

                <img class="process__img" src="{% static 'home/img/suivi.png' %}">
                <h4>Suivi</h4>
                <p>Nous explorons avec vous comme votre nouveau site ou app vient supporter votre stratégie et établissons ensemble les principaux indicateurs de performance.</p>
            
            </div>

        </div>


    </section>

   <!-- <section id="projets">

        <h2 class="m_scroll fade_in_bottom my-8">Quelques projets <lottie-player src="/static/img/lottie/mechanical_arm.json" background="transparent"  speed="0.5"  style="margin-bottom: 8px; width: 50px; height: 50px;" loop autoplay></lottie-player></h2>

        
        <div class="home_single_projets has_deeper_purple_bg">

            <div class="m_columns m_column_50">

                <div class="m_columns__column yellow">

                    <div class="home_single_projets_tags">
                        <span><a class="has_deep_purple_bg yellow" href="#">Application</a></span>
                        <span><a class="has_deep_purple_bg yellow" href="#">Développement</a></span>
                        <span><a class="has_deep_purple_bg yellow" href="#">Lorem ipsum</a></span>
                    </div>

                    <h3 class="yellow">Mon Diagnostic Artificialisation</h3>

                    <p>Directeur technique de la Start Up d'État du même nom, nous avons participé à la conception de A à Z de l'application géographique de suivi de l'artificialisation des Collectivités jusqu'à la livraison de l'application définitive et robuste.</p>
                    <p>Hyper simple à utiliser, l'application croise de nombreuses sources de données géographiques pour en faire une restitution dans un tableau de bord pensé par et pour les intervenants public autour des sujets d'urbanisation.</p>
                </div>

                <div class="m_columns__column">
                    <img src="{% static 'home/img/picto_dev.png' %}">
                </div>

            </div>
            
        </div>

       
        <div class="home_single_projets has_yellow_bg">

            <div class="m_columns m_column_50">

                <div class="m_columns__column deeper_purple">

                    <div class="home_single_projets_tags">
                        <span><a class="has_darker_yellow_bg deeper_purple" href="#">Application</a></span>
                        <span><a class="has_darker_yellow_bg deeper_purple" href="#">Développement</a></span>
                        <span><a class="has_darker_yellow_bg deeper_purple" href="#">Lorem ipsum</a></span>
                    </div>

                    <h3 class="deeper_purple">Mon Diagnostic Artificialisation</h3>

                    <p>Directeur technique de la Start Up d'État du même nom, nous avons participé à la conception de A à Z de l'application géographique de suivi de l'artificialisation des Collectivités jusqu'à la livraison de l'application définitive et robuste.</p>
                    <p>Hyper simple à utiliser, l'application croise de nombreuses sources de données géographiques pour en faire une restitution dans un tableau de bord pensé par et pour les intervenants public autour des sujets d'urbanisation.</p>
                </div>

                <div class="m_columns__column">
                    <img src="{% static 'home/img/picto_dev.png' %}">
                </div>

            </div>
            
        </div>

    </section>
    -->

{% endblock content %}
