{% extends "base.html" %}

{% block content %}
<div class="flex justify-around gap-4 bg-[#433CAC]">
    <span class="block  text-purple hover:text-yellow-medium">Dev</span>
    <span class="block">Webdesign</span>
    <span class="block">Graphisme</span>
    <span class="block">Pilotage</span>
</div>
{% endblock content %}