/**
****************************************
* FONTS
****************************************
*/

@font-face {
    font-family: 'Big John';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/BIG_JOHN.otf') format("opentype");
}


/***************** Color palette ****************/
:root {

    /* --main_bg_color: #F2EEE1; */
    --main_bg_color: #FFFDF8;
    --yellow : #FFDE70;
    --darker_yellow : #F2C221;  /* Couleur en plus */ 
    --purple : #6760D2;
    --deep_purple : #485C9F;
    --deeper_purple : #2D3A67;
    --purple_gray : #666F8E;
    --mint : #7FF1C0;
    --light_orange : #FF8065;
    --black: #131214;
	
	/* Typography */
    --font__main: "Open Sans", sans-serif;
    --font__titles: 'Big John', sans-serif;
	
    --font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    --font__pre: "Courier 10 Pitch", courier, monospace;
    --font__line_height_body: 1.5;
    --font__line_height_pre: 1.6;
}

/**
* Jaune #FFDE70 R=255 G=222 B=112 Usages : Aplat de couleur, illustration, logo. Attention, peu
* lisible, le jaune ne doit pas être utilisé pour des titres ou textes
*/
.yellow{
    color:var(--yellow);
}
.has_yellow_bg{
    background-color:var(--yellow);
}

/**
* Jaune foncé #FFDE70 en plus
*/
.darker_yellow{
    color:var(--darker_yellow);
}
.has_darker_yellow_bg{
    background-color:var(--darker_yellow);
}

/**
* Violet #6760D2 R=103 G=96 B=210 Usages : Aplat de couleur, illustration, icônes, titre, verbatime.
*/
.purple{
    color:var(--purple);
}
.has_purple_bg{
    background-color:var(--purple);
}

/**
* Violet profond #485C9F R=72 G=92 B=159 Usages : Aplat de couleur, illustration, texte
* Smoke on the water, fire in the sky
*/
.deep_purple{
    color:var(--deep_purple);
}
.has_deep_purple_bg{
    background-color:var(--deep_purple);
}

/** 
* Violet + profond #2D3A67 R=45 G=58 B=103 Usages : Favorisé pour les titres. Aussi aplat de couleur,
* illustration, icônes, verbatime.
*/
.deeper_purple{
    color:var(--deeper_purple);
}
.has_deeper_purple_bg{
    background-color:var(--deeper_purple);
}

/**
* Violet gris #666F8E R=102 G=111 B=142 Usages : Texte courant uniquement.
*/
.purple_gray{
    color:var(--purple_gray);
}
.has_purple_gray_bg{
    background-color:var(--purple_gray);
}

/**
* Menthe #7FF1C0 R=127 G=241 B=192
* Orange léger #FF8065 R=255 G=128 B=101
* Usages : Couleurs secondaires à utiliser uniquement en complément sur des illustrations ou icônes.
*/

.mint{
    color:var(--mint);
}
.has_mint_bg{
    background-color:var(--mint);
}

.light_orange{
    color:var(--light_orange);
}
.has_light_orange_bg{
    background-color:var(--light_orange);
}


/*
***************************************
* TYPOGRAPHY
***************************************
*/

body,
button,
input,
select,
optgroup,
textarea {
	color: #131214;
	font-family: var(--font__main);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 16px;
	box-sizing: border-box;
	line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-family: "Open Sans", sans-serif;*/
    font-family: var(--font__titles);
    font-weight: 700; 
    clear: both;
    color:var(--black);
    
}
h1,
h2{
    text-transform: uppercase;
}

h1{
    font-size: 3rem!important;
}
h2{
    font-size: 2.2rem!important;
    margin: 1em auto !important;
}
h3{
    font-size: 1.5rem!important;
}
h4{
    font-size: 1rem!important;
    font-weight: 700!important;
}
h5{
    font-size: 1rem!important;
}
h6{
    font-size: 1rem!important;
}

p {
	margin-bottom: 1.5em!important;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	max-width: 50em!important;
	position: relative;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #f9f9;
	font-family: "Courier 10 Pitch", courier, monospace;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: monaco, consolas;
}

abbr,
acronym {
	border-bottom: 1px dotted #6760D2;
	cursor: help;
}

mark,
ins {
	background: #f9f9f9;
	text-decoration: none;
}

big {
	font-size: 125%;
}

.bold{
    font-weight: 700;
}
/** Menu **/
.main_nav ul li a {
    font-size: 20px;
    font-family: 'Big John';
}

/** Home **/
h1.main_title span{
	font-family: var(--font__main);
}

section#manifeste h4,
section#projets .home_single_projets h3{
    font-family: var(--font__main);
}
/*
***************************************
* Alignment
***************************************
*/
.alignfull {
    margin-left: calc((100% - 100vw) / 2);
    width: 100vw;
  }

/*
***************************************
* Columns
***************************************
*/
.m_columns {
	display: grid;
}
.m_column_50 {
	grid-template-columns: 1fr;
    @media screen and (min-width: 992px) { 
        grid-template-columns: 1fr 1fr;
    } 
}
.m_column_33{
    grid-template-columns: 1fr;
    @media screen and (min-width: 992px) { 
        grid-template-columns: 1fr 1fr 1fr;
    } 
}
.m_columns__column {
	padding: 0 20px;
	margin-bottom: 40px;
}
/*
***************************************
* Lottie
***************************************
*/

lottie-player {
	display: inline-block;
	vertical-align: middle;
}

/*
***************************************
* Forms
***************************************
*/
form {
    max-width: 700px;
    margin: 0 auto;
    background: var(--yellow);
    padding: 1em 2em;
    border-radius: 15px;
}
form input, button, button, select, textarea {
    border: solid 3px transparent;
    border-radius: 15px;
    padding: 1em!important;
    margin: 1em 0;
    width: 100%;
    display: block;
    outline: none;
}
form input:focus, button:focus, form select:focus, form textarea:focus{
    border-color: var(--purple);
    outline: none; 
}

form input::-webkit-input-placeholder,
form textarea::-moz-placeholder { /* Chrome/Opera/Safari */
    color:var(--purple);
}
form input::-moz-placeholder,
form textarea::-moz-placeholder { /* Firefox 19+ */
    color:var(--purple);
}

form button{
    background-color: var(--purple);
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 1em!important;
    margin: 1em 0!important;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
form button::before{
    content:'';
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.4467 1.52859C24.5013 1.39229 24.5146 1.24298 24.4851 1.09917C24.4556 0.955352 24.3846 0.823358 24.2808 0.719548C24.1769 0.615738 24.0449 0.544678 23.9011 0.515177C23.7573 0.485676 23.608 0.499031 23.4717 0.553587L1.65121 9.28209H1.64971L0.971713 9.55209C0.843298 9.60331 0.731541 9.68903 0.648786 9.79978C0.566031 9.91053 0.5155 10.042 0.502773 10.1797C0.490046 10.3173 0.515619 10.4558 0.576668 10.5799C0.637717 10.7039 0.731865 10.8087 0.848713 10.8826L1.46371 11.2726L1.46521 11.2756L8.95771 16.0426L13.7247 23.5351L13.7277 23.5381L14.1177 24.1531C14.1918 24.2695 14.2967 24.3632 14.4206 24.4238C14.5446 24.4845 14.6829 24.5098 14.8203 24.4969C14.9577 24.484 15.0888 24.4335 15.1994 24.3509C15.3099 24.2683 15.3955 24.1567 15.4467 24.0286L24.4467 1.52859ZM21.6972 4.36359L10.4562 15.6046L10.1337 15.0976C10.0746 15.0045 9.99575 14.9257 9.90271 14.8666L9.39571 14.5441L20.6367 3.30309L22.4037 2.59659L21.6987 4.36359H21.6972Z' fill='%23EEEEEE'/%3E%3C/svg%3E");
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    max-width: 25px;
    max-height: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 15px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

form button:hover{
    background-color: var(--deep_purple);
}
form button:hover::before{
    transform: scale(1.1);
}


/*
*/
.m_scroll {
	opacity: 0;
	transition: opacity 500ms;
}

.m_scroll.scrolled {
	opacity: 1; 
}

@media (prefers-reduced-motion) {
	.m_scroll { 
		opacity: 1; 
	} 
	.scrolled {
		animation: none !important;  
	} 
}

.scrolled.fade_in {
    animation: fade-in .5s ease-in-out both;
}

.scrolled.fade_in_bottom {
    animation: fade-in-bottom .5s ease-in-out both;
}

.scrolled.slide_left {
    animation: slide-in-left .5s ease-in-out both;
}

.scrolled.slide_right {
    animation: slide-in-right .5s ease-in-out both;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
  
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

