/* body, html {
	overflow-x: hidden;
} */
body{
	overflow-x: hidden;
	font-size:16px;
}
a{
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/**
* Header
*/

header{
 	width: 100%; 
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.02);
  	overflow: hidden;
   	position: fixed;
	top: 0;
  	z-index: 9999;
}

.inner_header{
    max-width:1200px;
    padding: 0 2em;
    margin: 0.5em auto;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    @media screen and (min-width: 992px) { 
		grid-template-columns: 1fr 1fr;
	} 
}

.main_logo {
	max-height: 88px;
	width: auto;
	vertical-align: middle;
}

.main_nav{
    margin: 0 auto;
	width: 100%;
	display: grid;
}
.main_nav ul {
	display: flex;
	list-style: none;
	gap: 10px;
	padding: 0;	
	margin: 0;
	justify-self: flex-start;
	flex-direction: column;
	width: 100%;	
}
@media screen and (min-width: 992px) {
	.main_nav ul {
		justify-self: end;
		flex-direction: row;
		width: auto;
	}
}	

.main_nav ul li a {
	display: inline-block;
	text-decoration: none;
	padding: 10px 25px 13px 25px;
	text-transform: uppercase;
	line-height: 24px;
	text-transform: uppercase;
	width: 80%;
	color:var(--yellow);
}
@media screen and (min-width: 992px) {
	.main_nav ul li a {
		width: auto;
		color:var(--purple);
	}
}
	
.main_nav ul li a span{
		position: relative;
}
.main_nav ul li a span::before{
	content: '';
	background: var(--yellow);
	height: 0px;
	width: 100%;
	position: absolute;
	bottom: -10px;					
	z-index: -1;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.main_nav ul li a.contact {
	color:var(--yellow);
	background-color:var(--purple);
}

.main_nav ul li a:hover{
	color:var(--purple);
	background-color:var(--yellow);
}
.main_nav ul li a.contact:hover  {
	color:var(--purple);
	background-color:var(--yellow);
}


@media screen and (min-width: 992px) {
	.main_nav ul li a:hover{
		background-color:transparent;
	}
	.main_nav ul li a:hover span::before{
		height: 8px;
		bottom: -5px;			
	}
}			


/** Mobile menu **/
#togglemenu {
	position: fixed;
	right: 1.5em;
    cursor: pointer;
    z-index: 1001;
    top: 1.5em;
    margin: auto 0;
    height: 1em;
}
@media screen and (min-width: 992px) {
	#togglemenu {
		display: none;
	}
}

#togglemenu svg{
	transition: visibility 0s, max-height 0.15s, opacity 0.5s linear;
}
#togglemenu svg#closemenu {
    margin-right: 0.5em;
}

#togglemenu:not(.active) svg#burger,
#togglemenu.active svg#closemenu{
    visibility: visible;
    opacity: 1;
    max-width: 60px;
}
#togglemenu:not(.active) svg#closemenu,
#togglemenu.active svg#burger{
    visibility: hidden;
    opacity: 0;
    max-width: 0;
    margin:0;    
}
#popout {
	position: fixed;
	z-index: 11;
    left: 100%;
	top: 0;
    bottom: 0;
	width: 100%;
    padding: 1em;
    overflow: auto;
	background: #6760D2;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
@media (min-width: 992px) {
	#popout {
		position: unset;
		overflow: visible;
		background: none;
	}
}

#popout.opened{
	left: 0%;
}
#popout::-webkit-scrollbar {
	display: none; /* Chrome & Safari */
}


footer{
	text-align: center;
	background: var(--purple);
	padding: 2em;
	color: var(--main_bg_color);
	margin-top:4em;
}

footer img{
	max-width: 150px;
}

footer a{
	text-decoration: none;
	color: var(--main_bg_color);
	display: inline-block;
}

footer a span{
	position: relative;
	z-index: 2;
	vertical-align: middle;
}

footer a span::before{
	content: '';
	background: var(--yellow);
	height: 0px;
	width: 100%;
	position: absolute;
	bottom: -10px;					
	z-index: 1;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}


			

@media screen and (min-width: 992px) {
	footer a:hover{
	background-color:transparent;
	}
	footer a:hover span::before{
		height: 2px;
		bottom: 0;			
	}
}			

footer svg{
	display: inline-block;
	vertical-align: middle;
}


main{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2em;
}

section {
	margin-bottom: 6em;
}

/**
* Scrollbar
*/
/* WebKit and Chromiums */
-webkit-scrollbar{
	width: 12px;
	height: 12px;
	background-color: white;
}
-webkit-scrollbar-thumb{
	background: #433CAC;
	border-radius: 9999px;
}
/* Firefox */
:root{
    scrollbar-width: thin; /* can also be normal, or none, to not render scrollbar */
    scrollbar-color: #433CAC transparent; /* foreground background */
}

/**
* HOME
*/
span.home_small_maintitle {
	text-transform: none;
	font-size: 32px;
	font-weight: 700;
	line-height: 1.2;
}

h1.main_title{
    font-size: 50px;
    color: var(--black);
    text-transform: uppercase;
	margin: 0 auto 0.6em;
	line-height: 1.2;

	& span{
		text-transform: none;
		font-style: italic;	
	}

}
section.presentation_HD{
	margin-top: 6em;
    display: grid;
    grid-template-columns: 1fr;

    @media screen and (min-width: 992px) { 
		grid-template-columns: 1fr 1fr;
	} 
}

section.presentation_HD img {
    max-width: 100%;
}

section.expertises_HD{
    text-align: center;
}

section#contact{

	background:url('../img/briques_bg_formulaire-min.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-size: 243px 183px;
	background-position: left center;

	& h2 svg{
		transform: rotate(180deg) scaleX(-1);
	}
}
.contact__inner{
	max-width: 1200px;
	padding: 0 2em;
	margin: 0 auto;
}
.contact__inner > div{
	text-align: center;
}

section#manifeste h4{
		position: relative;
		margin: 0;
		margin-left: 52px;
}
section#manifeste h4::before{
	content:'';
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	left: -52px;
	width: 32px;
	height: 32px;
	margin-top: -3px;
	-webkit-transition: max-width 0.3s ease-in-out, max-height 0.3s ease-in-out;
	transition:  max-width 0.3s ease-in-out, max-height 0.3s ease-in-out;
}

section#manifeste h4.yellow_brique::before{
	background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.006 10.35 15.608 20.7l15.609-10.35L15.608 0 .006 10.35Z' fill='%23FFDE70'/%3E%3Cpath d='m15.612 31.054-.004-10.352L31.217 10.35l.002 10.352-15.607 10.352Z' fill='%23DEB733'/%3E%3Cpath d='M15.608 20.702 0 10.35l.008 10.352 15.604 10.352-.004-10.352Z' fill='%23E9C651'/%3E%3Cpath d='M7.805 5.176v5.174c0 2.86 3.494 5.178 7.803 5.178 4.31 0 7.802-2.318 7.802-5.178V5.176H7.805Z' fill='url(%23a)'/%3E%3Cpath d='M15.608 10.349c-4.3 0-7.8-2.32-7.8-5.173 0-2.85 3.5-5.17 7.8-5.17s7.799 2.32 7.799 5.17c0 2.852-3.499 5.173-7.799 5.173Z' fill='%23FFDE70'/%3E%3Cpath d='M15.608.01c2.084 0 4.042.537 5.514 1.513.716.475 1.278 1.028 1.67 1.643.406.637.612 1.313.612 2.01 0 .698-.206 1.374-.612 2.011-.392.616-.954 1.169-1.67 1.644-1.472.976-3.43 1.514-5.514 1.514-2.083 0-4.042-.538-5.514-1.514-.716-.475-1.279-1.028-1.671-1.644-.406-.637-.612-1.313-.612-2.011 0-.697.206-1.373.612-2.01.392-.615.955-1.168 1.67-1.643C11.567.547 13.526.01 15.608.01Zm0-.008c-4.309 0-7.803 2.316-7.803 5.174 0 2.86 3.494 5.176 7.803 5.176 4.31 0 7.802-2.316 7.802-5.176 0-2.858-3.492-5.174-7.802-5.174Z' fill='%23696B68'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='7.805' y1='10.352' x2='23.41' y2='10.352' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EAC753'/%3E%3Cstop offset='1' stop-color='%23DEB631'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}

section#manifeste h4.purple_brique::before{
	background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m.006 10.35 15.602 10.352 15.609-10.35L15.608 0 .006 10.35Z' fill='%236760D2'/%3E%3Cpath d='m15.612 31.054-.004-10.352L31.217 10.35l.002 10.352-15.607 10.352Z' fill='%23514CAE'/%3E%3Cpath d='M15.608 20.702 0 10.35l.008 10.352 15.604 10.352-.004-10.352Z' fill='%23615BC6'/%3E%3Cpath d='M7.805 5.176v5.174c0 2.86 3.494 5.178 7.803 5.178 4.31 0 7.802-2.318 7.802-5.178V5.176H7.805Z' fill='url(%23a)'/%3E%3Cpath d='M15.609 10.35c-4.302 0-7.8-2.321-7.8-5.173 0-2.851 3.498-5.17 7.8-5.17 4.3 0 7.798 2.319 7.798 5.17 0 2.852-3.498 5.172-7.798 5.172Z' fill='%236760D2'/%3E%3Cpath d='M15.608.01c2.084 0 4.042.537 5.514 1.514.716.474 1.278 1.027 1.67 1.642.406.637.612 1.313.612 2.01 0 .698-.206 1.375-.612 2.011-.392.616-.954 1.169-1.67 1.644-1.472.976-3.43 1.514-5.514 1.514-2.083 0-4.042-.538-5.514-1.514-.716-.475-1.279-1.028-1.671-1.644-.406-.636-.612-1.313-.612-2.01 0-.698.206-1.374.612-2.01.392-.616.955-1.169 1.67-1.643C11.567.547 13.526.009 15.609.009Zm0-.007c-4.309 0-7.803 2.315-7.803 5.173 0 2.86 3.494 5.176 7.803 5.176 4.31 0 7.802-2.316 7.802-5.176 0-2.858-3.492-5.173-7.802-5.173Z' fill='%23696B68'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='7.805' y1='10.352' x2='23.409' y2='10.352' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23544EB3'/%3E%3Cstop offset='1' stop-color='%23433CAC'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}

section#manifeste p{
	margin-left: 52px;
	margin-top: 8px;
}
	
section#manifeste .m_columns__column{
	margin-bottom: 0;
}


section#process{
	text-align: center;
}	
section#process .m_columns{
	margin-top: 80px;
}

section#process	.m_columns__column img {
	max-height: 160px;
	margin: 0 auto;
}
section#process	.m_columns__column h4{
	font-size: 26px;
	color: var(--purple);
	margin: 1em auto;
}


section#projets{
	text-align: center;
	margin-bottom: 0;
	
	.home_single_projets{
		padding: 2em;
		text-align:left;
		margin-bottom:2em;

		h3{
			margin: 1.3em auto;
			font-size: 30px;
		}
	}

	.home_single_projets_tags span a{
		text-decoration: none;
		border-radius: 9999px;
		padding: 0.3em 0.6em;
		margin-right: 10px;
	}

	.home_single_projets a:hover{
		color: var(--main_bg_color);
	}
	.home_single_projets:nth-of-type(even) a:hover{
		color: var(--deep_purple);
	}
}


/**
* TABS
*/
.tabs {
	display: flex;
	list-style: none;
	position: relative;
	margin: 60px 0 0 0;
	padding: 0;
	background:#FFDE70;
	flex-direction: column;
	@media screen and (min-width: 992px) { 
		flex-direction: row;
	}  

	& li {
		flex: 0 1 20%;
		display: inline-block;
		margin: 0;
		z-index: 0;

		 & > input[type="radio"] {
			position: absolute;
			top: 0;
			left: -9999px;
		}

		&:not(.active) > label .tab-content {
			opacity: 0;
			visibility: hidden;
		}

		 & > label {
			display: block;
			padding: 5px 10px;
			font-size: 20px;
			font-family: 'Big John';
			line-height: 2.5;
			font-weight: 400;
			cursor: pointer;
			position: relative;
			text-align: center;
			transition: all 0.15s ease-in-out;
			color: #A29DF5;
			background: #433CAC;
			position: absolute;
			height: 60px;
			width: 100%;
			top: 0;
			@media screen and (min-width: 992px) { 
				position: unset;
			} 
		}

		&:nth-of-type(2) > label{
			top: 60px;
		}
		&:nth-of-type(3) > label{
			top: 120px;
		}
		&:nth-of-type(4) > label{
			top: 180px;
		}
		&:nth-of-type(5) > label{
			top: 240px;
		}
	}

	li > label:hover {
		color: #FFDE70;
	}
	li [id^="tab"]:checked + label {
		color: #FFDE70;
	}
	
	li > label .inner_tab_label {
		display: inline-block;
		width: 100%;
		text-align: center;
	}
	
	li .tab-content {
		z-index: 0;
		visibility: hidden;
		opacity: 0;
		overflow: hidden;
		width: 100%;
		font-size: 16px;
		line-height: 25px;
		padding: 2em 2em 4em 2em;
		position: absolute;
		top: 0;
		left: 0;
		transition: opacity 0.4s ease-in-out;
		margin-top:300px;
		@media screen and (min-width: 992px) { 
			margin-top:0;
			top: 63px;
		}  
	}
	
	li [id^="tab"]:checked + label::before {
		filter: invert(9.5) sepia(5) hue-rotate(200deg);
	}
	
	li.active [id^="tab"]:checked ~ [id^="tab-content"] {
		z-index:1;
		visibility: visible;
		opacity:1;
	}
	
	
	li .tab-content{
		text-align: left;
		display: grid;
		align-items: center;
		grid-template-columns: 1fr;
		@media screen and (min-width: 992px) { 
			grid-template-columns: 40% 60%;
		} 
	}
	li .tab-content > div {
		margin: 0 auto;
	}
	li .tab-content > div:nth-of-type(1) {
		margin-bottom: 40px;
		@media screen and (min-width: 992px) { 
			margin-bottom: 0;
		} 
	}
	
	
	li .tab-content ul{
		padding: 0;
	}
	li .tab-content ul li{
		list-style-type: disc;
		 display: list-item;
	}
	
	li .tab-content img{
		max-width: 300px;
		max-height: 300px;
	}
	
}

/**
* Contact Page
**/
body.contact_page{
	background-color: var(--purple);
}

body.contact_page p{
	font-weight: 700;
}

body.contact_page .contact_page_container{
	background:url('../img/briques_bg_formulaire-min.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-size: 243px 183px;
	background-position: left center;
}

body.contact_page .contact_page_container .m_columns{
	max-width: 1200px;
    margin: 0 auto;
    padding: 0 2em;
}


body.contact_page p:last-of-type a svg{
	vertical-align: middle;
	opacity: 0.8;
	-webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

body.contact_page p:last-of-type a:hover svg{
	opacity: 1;
}


/*
*	Blog Index page
*/
.intro{
	width: 100vw;
	min-height: 220px;
	background-color: var(--yellow);
	position: relative;
}
.intro::after {
	content: ' ';
	border-top: 100px solid var(--yellow);
	border-right: 100vw solid transparent;
	width: 0;
	position: absolute;
	top: 100%;
	z-index: -1;
}
.intro_inner{
	max-width:1200px;
    padding: 2em;
    margin: 0.5em auto;
	text-align: center;
}

/* Sticky post */
.sticky_post_container,
.single_post_container {
	margin-top: -140px;
 	z-index: 1;
 	position: relative;
 	text-align: center;
}
.sticky_post_container h2,
.single_post_container h2 {
	margin-bottom: 40px;
}
.sticky_post_inner,
.single_post_inner {
	background-color: var(--purple_gray);
	padding: 6em 2em;
	text-align: center;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	z-index: 1;
}
.sticky_post_inner::before,
.single_post_inner::before{
	content: '';
	width: 100%;
	height: 100%;
	background: var(--black);
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	opacity: 0.3;
	z-index: -1;
}
.sticky_post_inner .post_label,
.single_post_inner .post_label,
.regular_post_img .post_label {
	position: absolute;
	left: 1em;
	top: 1em;
	background: var(--purple);
	padding: 0.4em 0.8em;
	border-radius: 5px;
	color: white;
}
.sticky_post_inner .post_label a,
.single_post_inner .post_label a,
.regular_post_img .post_label a{
	color: white;
	text-decoration: none;
}
.sticky_post_inner .post_label a:hover,
.single_post_inner .post_label a:hover,
.regular_post_img .post_label a:hover{
	color: var(--yellow);
}

.post_label_tag  a{
	text-transform: capitalize;
  }
.post_label_tag:not(:last-of-type) a::after {
	content: ", ";
	display: inline-block;
}

.sticky_post_date_and_author a,
.single_post_date_and_author a {
	color: white;
	/* text-decoration: none; */
}
.sticky_post_inner h3 a,
.single_post_inner h1 {
	color: var( --yellow);
	text-decoration: none;
	font-size: 2em;
}
.sticky_post_inner h3 a:hover {
	color: white;
}

.sticky_post_inner p,
.single_post_inner p{
	max-width: 400px;
	margin: 0 auto;
}

.template-blogindexpage h1 {
	margin: 2em auto;
}
.categories_list {
	text-align: center;
	margin-bottom: 60px;
}
.category {
	background-image: url('/static/img/brique_categorie.png');
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
	color: white;
	padding: 0.3em 0.7em;
	height: 61px;
  	width: 147px;
 	vertical-align: middle;
	line-height: 54px;
	margin: 10px;
}

/* Regular posts */
.container_regular_posts {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1em;
}
.regular_post {
	border-radius: 10px;
	overflow: hidden;
	background: var(--yellow);
	position: relative;
}
a.regular_post_img {
	position: relative;
	min-height: 220px;
	background-size: cover;
	background-repeat: no-repeat;
	display: block;
	cursor: pointer;
}
a.regular_post_img::before {
	content: '';
	width: 100%;
	height: 100%;
	background: var(--purple);
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	opacity: 0.2;
	-webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
a.regular_post_img:hover::before {
	opacity: 0;
}
.regular_post_info {
	padding: 1.5em 1.5em 3em 1.5em;
}
.regular_post_info .post_date_and_author a{
	color:var(--black);
}
.regular_post_info h3 a {
	text-decoration: none;
	color: var(--purple);
}

.regular_post_arrow_link {
	position: absolute;
	right: 1.5em;
 	bottom: 1.5em;
}
.regular_post_arrow_link:hover {
	transform: scale(1.1);
  }
a.regular_post_arrow_link svg{
	-webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
a.regular_post_arrow_link:hover svg path{
	fill: var(--deep_purple);
}