@import 'normalize.css';
@import 'fonts_colors_and_general.css';
@import 'style.css';


@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Big John';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/BIG_JOHN.otf') format("opentype");
}

[x-cloak] { display: none !important; }
