/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/** 
* Box sizing
*/

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
       appearance: textfield;
  outline-offset: -2px;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/**
****************************************
* FONTS
****************************************
*/

@font-face {
  font-family: 'Big John';

  font-style: normal;

  font-weight: normal;

  src: url('../fonts/BIG_JOHN.otf') format("opentype");
}

/***************** Color palette ****************/

:root {
  /* --main_bg_color: #F2EEE1; */
  --main_bg_color: #FFFDF8;
  --yellow : #FFDE70;
  --darker_yellow : #F2C221;
  /* Couleur en plus */
  --purple : #6760D2;
  --deep_purple : #485C9F;
  --deeper_purple : #2D3A67;
  --purple_gray : #666F8E;
  --mint : #7FF1C0;
  --light_orange : #FF8065;
  --black: #131214;
  /* Typography */
  --font__main: "Open Sans", sans-serif;
  --font__titles: 'Big John', sans-serif;
  --font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  --font__pre: "Courier 10 Pitch", courier, monospace;
  --font__line_height_body: 1.5;
  --font__line_height_pre: 1.6;
}

/**
* Jaune #FFDE70 R=255 G=222 B=112 Usages : Aplat de couleur, illustration, logo. Attention, peu
* lisible, le jaune ne doit pas être utilisé pour des titres ou textes
*/

.yellow{
  color:var(--yellow);
}

.has_yellow_bg{
  background-color:var(--yellow);
}

/**
* Jaune foncé #FFDE70 en plus
*/

.darker_yellow{
  color:var(--darker_yellow);
}

.has_darker_yellow_bg{
  background-color:var(--darker_yellow);
}

/**
* Violet #6760D2 R=103 G=96 B=210 Usages : Aplat de couleur, illustration, icônes, titre, verbatime.
*/

.purple{
  color:var(--purple);
}

.has_purple_bg{
  background-color:var(--purple);
}

/**
* Violet profond #485C9F R=72 G=92 B=159 Usages : Aplat de couleur, illustration, texte
* Smoke on the water, fire in the sky
*/

.deep_purple{
  color:var(--deep_purple);
}

.has_deep_purple_bg{
  background-color:var(--deep_purple);
}

/** 
* Violet + profond #2D3A67 R=45 G=58 B=103 Usages : Favorisé pour les titres. Aussi aplat de couleur,
* illustration, icônes, verbatime.
*/

.deeper_purple{
  color:var(--deeper_purple);
}

.has_deeper_purple_bg{
  background-color:var(--deeper_purple);
}

/**
* Violet gris #666F8E R=102 G=111 B=142 Usages : Texte courant uniquement.
*/

.purple_gray{
  color:var(--purple_gray);
}

.has_purple_gray_bg{
  background-color:var(--purple_gray);
}

/**
* Menthe #7FF1C0 R=127 G=241 B=192
* Orange léger #FF8065 R=255 G=128 B=101
* Usages : Couleurs secondaires à utiliser uniquement en complément sur des illustrations ou icônes.
*/

.mint{
  color:var(--mint);
}

.has_mint_bg{
  background-color:var(--mint);
}

.light_orange{
  color:var(--light_orange);
}

.has_light_orange_bg{
  background-color:var(--light_orange);
}

/*
***************************************
* TYPOGRAPHY
***************************************
*/

body,
button,
input,
select,
optgroup,
textarea {
  color: #131214;
  font-family: var(--font__main);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 16px;
  box-sizing: border-box;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Open Sans", sans-serif;*/
  font-family: var(--font__titles);
  font-weight: 700;
  clear: both;
  color:var(--black);
}

h1,
h2{
  text-transform: uppercase;
}

h1{
  font-size: 3rem!important;
}

h2{
  font-size: 2.2rem!important;
  margin: 1em auto !important;
}

h3{
  font-size: 1.5rem!important;
}

h4{
  font-size: 1rem!important;
  font-weight: 700!important;
}

h5{
  font-size: 1rem!important;
}

h6{
  font-size: 1rem!important;
}

p {
  margin-bottom: 1.5em!important;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  max-width: 50em!important;
  position: relative;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #f9f9;
  font-family: "Courier 10 Pitch", courier, monospace;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font-family: monaco, consolas;
}

abbr,
acronym {
  border-bottom: 1px dotted #6760D2;
  cursor: help;
}

mark,
ins {
  background: #f9f9f9;
  text-decoration: none;
}

big {
  font-size: 125%;
}

.bold{
  font-weight: 700;
}

/** Menu **/

.main_nav ul li a {
  font-size: 20px;
  font-family: 'Big John';
}

/** Home **/

h1.main_title span{
  font-family: var(--font__main);
}

section#manifeste h4,
section#projets .home_single_projets h3{
  font-family: var(--font__main);
}

/*
***************************************
* Alignment
***************************************
*/

.alignfull {
  margin-left: calc((100% - 100vw) / 2);
  width: 100vw;
}

/*
***************************************
* Columns
***************************************
*/

.m_columns {
  display: grid;
}

.m_column_50 {
  grid-template-columns: 1fr;
  @media screen and (min-width: 992px) {
    grid-template-columns: 1fr 1fr;
  }
}

.m_column_33{
  grid-template-columns: 1fr;
  @media screen and (min-width: 992px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.m_columns__column {
  padding: 0 20px;
  margin-bottom: 40px;
}

/*
***************************************
* Lottie
***************************************
*/

lottie-player {
  display: inline-block;
  vertical-align: middle;
}

/*
***************************************
* Forms
***************************************
*/

form {
  max-width: 700px;
  margin: 0 auto;
  background: var(--yellow);
  padding: 1em 2em;
  border-radius: 15px;
}

form input, button, button, select, textarea {
  border: solid 3px transparent;
  border-radius: 15px;
  padding: 1em!important;
  margin: 1em 0;
  width: 100%;
  display: block;
  outline: none;
}

form input:focus, button:focus, form select:focus, form textarea:focus{
  border-color: var(--purple);
  outline: none;
}

form input::-webkit-input-placeholder,
form textarea::-moz-placeholder {
  /* Chrome/Opera/Safari */
  color:var(--purple);
}

form input::-moz-placeholder,
form textarea::-moz-placeholder {
  /* Firefox 19+ */
  color:var(--purple);
}

form button{
  background-color: var(--purple);
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 1em!important;
  margin: 1em 0!important;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

form button::before{
  content:'';
  background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.4467 1.52859C24.5013 1.39229 24.5146 1.24298 24.4851 1.09917C24.4556 0.955352 24.3846 0.823358 24.2808 0.719548C24.1769 0.615738 24.0449 0.544678 23.9011 0.515177C23.7573 0.485676 23.608 0.499031 23.4717 0.553587L1.65121 9.28209H1.64971L0.971713 9.55209C0.843298 9.60331 0.731541 9.68903 0.648786 9.79978C0.566031 9.91053 0.5155 10.042 0.502773 10.1797C0.490046 10.3173 0.515619 10.4558 0.576668 10.5799C0.637717 10.7039 0.731865 10.8087 0.848713 10.8826L1.46371 11.2726L1.46521 11.2756L8.95771 16.0426L13.7247 23.5351L13.7277 23.5381L14.1177 24.1531C14.1918 24.2695 14.2967 24.3632 14.4206 24.4238C14.5446 24.4845 14.6829 24.5098 14.8203 24.4969C14.9577 24.484 15.0888 24.4335 15.1994 24.3509C15.3099 24.2683 15.3955 24.1567 15.4467 24.0286L24.4467 1.52859ZM21.6972 4.36359L10.4562 15.6046L10.1337 15.0976C10.0746 15.0045 9.99575 14.9257 9.90271 14.8666L9.39571 14.5441L20.6367 3.30309L22.4037 2.59659L21.6987 4.36359H21.6972Z' fill='%23EEEEEE'/%3E%3C/svg%3E");
  background-size: cover;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  max-width: 25px;
  max-height: 25px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -5px;
  margin-right: 15px;
  transition: all 0.3s ease-in-out;
}

form button:hover{
  background-color: var(--deep_purple);
}

form button:hover::before{
  transform: scale(1.1);
}

/*
*/

.m_scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.m_scroll.scrolled {
  opacity: 1;
}

@media (prefers-reduced-motion) {
  .m_scroll {
    opacity: 1;
  }

  .scrolled {
    animation: none !important;
  }
}

.scrolled.fade_in {
  animation: fade-in .5s ease-in-out both;
}

.scrolled.fade_in_bottom {
  animation: fade-in-bottom .5s ease-in-out both;
}

.scrolled.slide_left {
  animation: slide-in-left .5s ease-in-out both;
}

.scrolled.slide_right {
  animation: slide-in-right .5s ease-in-out both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* body, html {
	overflow-x: hidden;
} */

body{
  overflow-x: hidden;
  font-size:16px;
}

a{
  transition: all 0.3s ease-in-out;
}

/**
* Header
*/

header{
  width: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.02);
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.inner_header{
  max-width:1200px;
  padding: 0 2em;
  margin: 0.5em auto;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  @media screen and (min-width: 992px) {
    grid-template-columns: 1fr 1fr;
  }
}

.main_logo {
  max-height: 88px;
  width: auto;
  vertical-align: middle;
}

.main_nav{
  margin: 0 auto;
  width: 100%;
  display: grid;
}

.main_nav ul {
  display: flex;
  list-style: none;
  gap: 10px;
  padding: 0;
  margin: 0;
  justify-self: flex-start;
  flex-direction: column;
  width: 100%;
}

@media screen and (min-width: 992px) {
  .main_nav ul {
    justify-self: end;
    flex-direction: row;
    width: auto;
  }
}

.main_nav ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 25px 13px 25px;
  line-height: 24px;
  text-transform: uppercase;
  width: 80%;
  color:var(--yellow);
}

@media screen and (min-width: 992px) {
  .main_nav ul li a {
    width: auto;
    color:var(--purple);
  }
}

.main_nav ul li a span{
  position: relative;
}

.main_nav ul li a span::before{
  content: '';
  background: var(--yellow);
  height: 0px;
  width: 100%;
  position: absolute;
  bottom: -10px;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.main_nav ul li a.contact {
  color:var(--yellow);
  background-color:var(--purple);
}

.main_nav ul li a:hover{
  color:var(--purple);
  background-color:var(--yellow);
}

.main_nav ul li a.contact:hover  {
  color:var(--purple);
  background-color:var(--yellow);
}

@media screen and (min-width: 992px) {
  .main_nav ul li a:hover{
    background-color:transparent;
  }

  .main_nav ul li a:hover span::before{
    height: 8px;
    bottom: -5px;
  }
}

/** Mobile menu **/

#togglemenu {
  position: fixed;
  right: 1.5em;
  cursor: pointer;
  z-index: 1001;
  top: 1.5em;
  margin: auto 0;
  height: 1em;
}

@media screen and (min-width: 992px) {
  #togglemenu {
    display: none;
  }
}

#togglemenu svg{
  transition: visibility 0s, max-height 0.15s, opacity 0.5s linear;
}

#togglemenu svg#closemenu {
  margin-right: 0.5em;
}

#togglemenu:not(.active) svg#burger,
#togglemenu.active svg#closemenu{
  visibility: visible;
  opacity: 1;
  max-width: 60px;
}

#togglemenu:not(.active) svg#closemenu,
#togglemenu.active svg#burger{
  visibility: hidden;
  opacity: 0;
  max-width: 0;
  margin:0;
}

#popout {
  position: fixed;
  z-index: 11;
  left: 100%;
  top: 0;
  bottom: 0;
  width: 100%;
  padding: 1em;
  overflow: auto;
  background: #6760D2;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@media (min-width: 992px) {
  #popout {
    position: unset;
    overflow: visible;
    background: none;
  }
}

#popout.opened{
  left: 0%;
}

#popout::-webkit-scrollbar {
  display: none;
  /* Chrome & Safari */
}

footer{
  text-align: center;
  background: var(--purple);
  padding: 2em;
  color: var(--main_bg_color);
  margin-top:4em;
}

footer img{
  max-width: 150px;
}

footer a{
  text-decoration: none;
  color: var(--main_bg_color);
  display: inline-block;
}

footer a span{
  position: relative;
  z-index: 2;
  vertical-align: middle;
}

footer a span::before{
  content: '';
  background: var(--yellow);
  height: 0px;
  width: 100%;
  position: absolute;
  bottom: -10px;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 992px) {
  footer a:hover{
    background-color:transparent;
  }

  footer a:hover span::before{
    height: 2px;
    bottom: 0;
  }
}

footer svg{
  display: inline-block;
  vertical-align: middle;
}

main{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2em;
}

section {
  margin-bottom: 6em;
}

/**
* Scrollbar
*/

/* WebKit and Chromiums */

-webkit-scrollbar{
  width: 12px;
  height: 12px;
  background-color: white;
}

-webkit-scrollbar-thumb{
  background: #433CAC;
  border-radius: 9999px;
}

/* Firefox */

:root{
  scrollbar-width: thin;
  /* can also be normal, or none, to not render scrollbar */
  scrollbar-color: #433CAC transparent;
  /* foreground background */
}

/**
* HOME
*/

span.home_small_maintitle {
  text-transform: none;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
}

h1.main_title{
  font-size: 50px;
  color: var(--black);
  text-transform: uppercase;
  margin: 0 auto 0.6em;
  line-height: 1.2;
  & span{
    text-transform: none;
    font-style: italic;
  }
}

section.presentation_HD{
  margin-top: 6em;
  display: grid;
  grid-template-columns: 1fr;
  @media screen and (min-width: 992px) {
    grid-template-columns: 1fr 1fr;
  }
}

section.presentation_HD img {
  max-width: 100%;
}

section.expertises_HD{
  text-align: center;
}

section#contact{
  background:url('../img/briques_bg_formulaire-min.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 243px 183px;
  background-position: left center;
  & h2 svg{
    transform: rotate(180deg) scaleX(-1);
  }
}

.contact__inner{
  max-width: 1200px;
  padding: 0 2em;
  margin: 0 auto;
}

.contact__inner > div{
  text-align: center;
}

section#manifeste h4{
  position: relative;
  margin: 0;
  margin-left: 52px;
}

section#manifeste h4::before{
  content:'';
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: -52px;
  width: 32px;
  height: 32px;
  margin-top: -3px;
  transition:  max-width 0.3s ease-in-out, max-height 0.3s ease-in-out;
}

section#manifeste h4.yellow_brique::before{
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.006 10.35 15.608 20.7l15.609-10.35L15.608 0 .006 10.35Z' fill='%23FFDE70'/%3E%3Cpath d='m15.612 31.054-.004-10.352L31.217 10.35l.002 10.352-15.607 10.352Z' fill='%23DEB733'/%3E%3Cpath d='M15.608 20.702 0 10.35l.008 10.352 15.604 10.352-.004-10.352Z' fill='%23E9C651'/%3E%3Cpath d='M7.805 5.176v5.174c0 2.86 3.494 5.178 7.803 5.178 4.31 0 7.802-2.318 7.802-5.178V5.176H7.805Z' fill='url(%23a)'/%3E%3Cpath d='M15.608 10.349c-4.3 0-7.8-2.32-7.8-5.173 0-2.85 3.5-5.17 7.8-5.17s7.799 2.32 7.799 5.17c0 2.852-3.499 5.173-7.799 5.173Z' fill='%23FFDE70'/%3E%3Cpath d='M15.608.01c2.084 0 4.042.537 5.514 1.513.716.475 1.278 1.028 1.67 1.643.406.637.612 1.313.612 2.01 0 .698-.206 1.374-.612 2.011-.392.616-.954 1.169-1.67 1.644-1.472.976-3.43 1.514-5.514 1.514-2.083 0-4.042-.538-5.514-1.514-.716-.475-1.279-1.028-1.671-1.644-.406-.637-.612-1.313-.612-2.011 0-.697.206-1.373.612-2.01.392-.615.955-1.168 1.67-1.643C11.567.547 13.526.01 15.608.01Zm0-.008c-4.309 0-7.803 2.316-7.803 5.174 0 2.86 3.494 5.176 7.803 5.176 4.31 0 7.802-2.316 7.802-5.176 0-2.858-3.492-5.174-7.802-5.174Z' fill='%23696B68'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='7.805' y1='10.352' x2='23.41' y2='10.352' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EAC753'/%3E%3Cstop offset='1' stop-color='%23DEB631'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}

section#manifeste h4.purple_brique::before{
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m.006 10.35 15.602 10.352 15.609-10.35L15.608 0 .006 10.35Z' fill='%236760D2'/%3E%3Cpath d='m15.612 31.054-.004-10.352L31.217 10.35l.002 10.352-15.607 10.352Z' fill='%23514CAE'/%3E%3Cpath d='M15.608 20.702 0 10.35l.008 10.352 15.604 10.352-.004-10.352Z' fill='%23615BC6'/%3E%3Cpath d='M7.805 5.176v5.174c0 2.86 3.494 5.178 7.803 5.178 4.31 0 7.802-2.318 7.802-5.178V5.176H7.805Z' fill='url(%23a)'/%3E%3Cpath d='M15.609 10.35c-4.302 0-7.8-2.321-7.8-5.173 0-2.851 3.498-5.17 7.8-5.17 4.3 0 7.798 2.319 7.798 5.17 0 2.852-3.498 5.172-7.798 5.172Z' fill='%236760D2'/%3E%3Cpath d='M15.608.01c2.084 0 4.042.537 5.514 1.514.716.474 1.278 1.027 1.67 1.642.406.637.612 1.313.612 2.01 0 .698-.206 1.375-.612 2.011-.392.616-.954 1.169-1.67 1.644-1.472.976-3.43 1.514-5.514 1.514-2.083 0-4.042-.538-5.514-1.514-.716-.475-1.279-1.028-1.671-1.644-.406-.636-.612-1.313-.612-2.01 0-.698.206-1.374.612-2.01.392-.616.955-1.169 1.67-1.643C11.567.547 13.526.009 15.609.009Zm0-.007c-4.309 0-7.803 2.315-7.803 5.173 0 2.86 3.494 5.176 7.803 5.176 4.31 0 7.802-2.316 7.802-5.176 0-2.858-3.492-5.173-7.802-5.173Z' fill='%23696B68'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='7.805' y1='10.352' x2='23.409' y2='10.352' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23544EB3'/%3E%3Cstop offset='1' stop-color='%23433CAC'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}

section#manifeste p{
  margin-left: 52px;
  margin-top: 8px;
}

section#manifeste .m_columns__column{
  margin-bottom: 0;
}

section#process{
  text-align: center;
}

section#process .m_columns{
  margin-top: 80px;
}

section#process	.m_columns__column img {
  max-height: 160px;
  margin: 0 auto;
}

section#process	.m_columns__column h4{
  font-size: 26px;
  color: var(--purple);
  margin: 1em auto;
}

section#projets{
  text-align: center;
  margin-bottom: 0;
  .home_single_projets{
    padding: 2em;
    text-align:left;
    margin-bottom:2em;
    h3{
      margin: 1.3em auto;
      font-size: 30px;
    }
  }
  .home_single_projets_tags span a{
    text-decoration: none;
    border-radius: 9999px;
    padding: 0.3em 0.6em;
    margin-right: 10px;
  }
  .home_single_projets a:hover{
    color: var(--main_bg_color);
  }
  .home_single_projets:nth-of-type(even) a:hover{
    color: var(--deep_purple);
  }
}

/**
* TABS
*/

.tabs {
  display: flex;
  list-style: none;
  position: relative;
  margin: 60px 0 0 0;
  padding: 0;
  background:#FFDE70;
  flex-direction: column;
  @media screen and (min-width: 992px) {
    flex-direction: row;
  }
  & li {
    flex: 0 1 20%;
    display: inline-block;
    margin: 0;
    z-index: 0;
    & > input[type="radio"] {
      position: absolute;
      top: 0;
      left: -9999px;
    }
    &:not(.active) > label .tab-content {
      opacity: 0;
      visibility: hidden;
    }
    & > label {
      display: block;
      padding: 5px 10px;
      font-size: 20px;
      font-family: 'Big John';
      line-height: 2.5;
      font-weight: 400;
      cursor: pointer;
      position: relative;
      text-align: center;
      transition: all 0.15s ease-in-out;
      color: #A29DF5;
      background: #433CAC;
      position: absolute;
      height: 60px;
      width: 100%;
      top: 0;
      @media screen and (min-width: 992px) {
        position: unset;
      }
    }
    &:nth-of-type(2) > label{
      top: 60px;
    }
    &:nth-of-type(3) > label{
      top: 120px;
    }
    &:nth-of-type(4) > label{
      top: 180px;
    }
    &:nth-of-type(5) > label{
      top: 240px;
    }
  }
  li > label:hover {
    color: #FFDE70;
  }
  li [id^="tab"]:checked + label {
    color: #FFDE70;
  }
  li > label .inner_tab_label {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  li .tab-content {
    z-index: 0;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    width: 100%;
    font-size: 16px;
    line-height: 25px;
    padding: 2em 2em 4em 2em;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.4s ease-in-out;
    margin-top:300px;
    @media screen and (min-width: 992px) {
      margin-top:0;

      top: 63px;
    }
  }
  li [id^="tab"]:checked + label::before {
    filter: invert(9.5) sepia(5) hue-rotate(200deg);
  }
  li.active [id^="tab"]:checked ~ [id^="tab-content"] {
    z-index:1;
    visibility: visible;
    opacity:1;
  }
  li .tab-content{
    text-align: left;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    @media screen and (min-width: 992px) {
      grid-template-columns: 40% 60%;
    }
  }
  li .tab-content > div {
    margin: 0 auto;
  }
  li .tab-content > div:nth-of-type(1) {
    margin-bottom: 40px;
    @media screen and (min-width: 992px) {
      margin-bottom: 0;
    }
  }
  li .tab-content ul{
    padding: 0;
  }
  li .tab-content ul li{
    list-style-type: disc;
    display: list-item;
  }
  li .tab-content img{
    max-width: 300px;
    max-height: 300px;
  }
}

/**
* Contact Page
**/

body.contact_page{
  background-color: var(--purple);
}

body.contact_page p{
  font-weight: 700;
}

body.contact_page .contact_page_container{
  background:url('../img/briques_bg_formulaire-min.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 243px 183px;
  background-position: left center;
}

body.contact_page .contact_page_container .m_columns{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2em;
}

body.contact_page p:last-of-type a svg{
  vertical-align: middle;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

body.contact_page p:last-of-type a:hover svg{
  opacity: 1;
}

/*
*	Blog Index page
*/

.intro{
  width: 100vw;
  min-height: 220px;
  background-color: var(--yellow);
  position: relative;
}

.intro::after {
  content: ' ';
  border-top: 100px solid var(--yellow);
  border-right: 100vw solid transparent;
  width: 0;
  position: absolute;
  top: 100%;
  z-index: -1;
}

.intro_inner{
  max-width:1200px;
  padding: 2em;
  margin: 0.5em auto;
  text-align: center;
}

/* Sticky post */

.sticky_post_container,
.single_post_container {
  margin-top: -140px;
  z-index: 1;
  position: relative;
  text-align: center;
}

.sticky_post_container h2,
.single_post_container h2 {
  margin-bottom: 40px;
}

.sticky_post_inner,
.single_post_inner {
  background-color: var(--purple_gray);
  padding: 6em 2em;
  text-align: center;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  z-index: 1;
}

.sticky_post_inner::before,
.single_post_inner::before{
  content: '';
  width: 100%;
  height: 100%;
  background: var(--black);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0.3;
  z-index: -1;
}

.sticky_post_inner .post_label,
.single_post_inner .post_label,
.regular_post_img .post_label {
  position: absolute;
  left: 1em;
  top: 1em;
  background: var(--purple);
  padding: 0.4em 0.8em;
  border-radius: 5px;
  color: white;
}

.sticky_post_inner .post_label a,
.single_post_inner .post_label a,
.regular_post_img .post_label a{
  color: white;
  text-decoration: none;
}

.sticky_post_inner .post_label a:hover,
.single_post_inner .post_label a:hover,
.regular_post_img .post_label a:hover{
  color: var(--yellow);
}

.post_label_tag  a{
  text-transform: capitalize;
}

.post_label_tag:not(:last-of-type) a::after {
  content: ", ";
  display: inline-block;
}

.sticky_post_date_and_author a,
.single_post_date_and_author a {
  color: white;
  /* text-decoration: none; */
}

.sticky_post_inner h3 a,
.single_post_inner h1 {
  color: var( --yellow);
  text-decoration: none;
  font-size: 2em;
}

.sticky_post_inner h3 a:hover {
  color: white;
}

.sticky_post_inner p,
.single_post_inner p{
  max-width: 400px;
  margin: 0 auto;
}

.template-blogindexpage h1 {
  margin: 2em auto;
}

.categories_list {
  text-align: center;
  margin-bottom: 60px;
}

.category {
  background-image: url('/static/img/brique_categorie.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  color: white;
  padding: 0.3em 0.7em;
  height: 61px;
  width: 147px;
  vertical-align: middle;
  line-height: 54px;
  margin: 10px;
}

/* Regular posts */

.container_regular_posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

.regular_post {
  border-radius: 10px;
  overflow: hidden;
  background: var(--yellow);
  position: relative;
}

a.regular_post_img {
  position: relative;
  min-height: 220px;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  cursor: pointer;
}

a.regular_post_img::before {
  content: '';
  width: 100%;
  height: 100%;
  background: var(--purple);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0.2;
  transition: all 0.3s ease-in-out;
}

a.regular_post_img:hover::before {
  opacity: 0;
}

.regular_post_info {
  padding: 1.5em 1.5em 3em 1.5em;
}

.regular_post_info .post_date_and_author a{
  color:var(--black);
}

.regular_post_info h3 a {
  text-decoration: none;
  color: var(--purple);
}

.regular_post_arrow_link {
  position: absolute;
  right: 1.5em;
  bottom: 1.5em;
}

.regular_post_arrow_link:hover {
  transform: scale(1.1);
}

a.regular_post_arrow_link svg{
  transition: all 0.2s ease-in-out;
}

a.regular_post_arrow_link:hover svg path{
  fill: var(--deep_purple);
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*! tailwindcss v3.4.14 | MIT License | https://tailwindcss.com */

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.static {
  position: static;
}

.m-1 {
  margin: 0.25rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.my-12 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-24 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mb-32 {
  margin-bottom: 8rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.h-20 {
  height: 5rem;
}

.h-32 {
  height: 8rem;
}

.max-h-24 {
  max-height: 6rem;
}

.max-h-32 {
  max-height: 8rem;
}

.w-1\/2 {
  width: 50%;
}

.w-2\/3 {
  width: 66.666667%;
}

.w-full {
  width: 100%;
}

.max-w-24 {
  max-width: 6rem;
}

.max-w-32 {
  max-width: 8rem;
}

.flex-grow {
  flex-grow: 1;
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer {
  cursor: pointer;
}

.list-disc {
  list-style-type: disc;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.gap-16 {
  gap: 4rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.border-b {
  border-bottom-width: 1px;
}

.border-l-4 {
  border-left-width: 4px;
}

.border-gray-50 {
  --tw-border-opacity: 1;
  border-color: rgb(249 250 251 / var(--tw-border-opacity));
}

.border-yellow-600 {
  --tw-border-opacity: 1;
  border-color: rgb(221 112 2 / var(--tw-border-opacity));
}

.bg-\[\#433CAC\] {
  --tw-bg-opacity: 1;
  background-color: rgb(67 60 172 / var(--tw-bg-opacity));
}

.bg-purple-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(103 96 210 / var(--tw-bg-opacity));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-yellow-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(255 242 198 / var(--tw-bg-opacity));
}

.bg-yellow-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(255 222 112 / var(--tw-bg-opacity));
}

.p-2 {
  padding: 0.5rem;
}

.p-4 {
  padding: 1rem;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.font-bigjohn {
  font-family: "Big John", sans-serif;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.italic {
  font-style: italic;
}

.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}

.text-white\/60 {
  color: rgb(255 255 255 / 0.6);
}

.text-yellow-200 {
  --tw-text-opacity: 1;
  color: rgb(255 222 112 / var(--tw-text-opacity));
}

.text-yellow-600 {
  --tw-text-opacity: 1;
  color: rgb(221 112 2 / var(--tw-text-opacity));
}

.shadow-2xl {
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@font-face {
  font-family: 'Big John';

  font-style: normal;

  font-weight: normal;

  src: url('../fonts/BIG_JOHN.otf') format("opentype");
}

[x-cloak] {
  display: none !important;
}

@media (min-width: 1280px) {
  .xl\:gap-4 {
    gap: 1rem;
  }
}
