{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}

    <div class="intro alignfull">
    </div>

    <!-- Single Post Intro -->
    <div class="single_post_container">

        <div class="single_post_inner" style="background-image: url('/static/img/sticky_post_mockup_img.jpg');">

            {% with tags=page.tags.all %}
                {% if tags %}
                    <span class="post_label">
                        {% for tag in tags %}
                            <span class="post_label_tag"><a href="{% slugurl 'tags' %}?tag={{ tag }}">{{ tag }}</a></span>
                        {% endfor %}
                    </span>
                {% endif %}
            {% endwith %}

            <span class="post_label">Label</span>

            <span class="single_post_date_and_author meta">Le {{ page.date }} par 

            {% with authors=page.authors.all %}
                {% if authors %}
                    {% for author in authors %}
                        {% for author in authors %}
                            <a href="{{ author.link }}">{{ author.name }}</a>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
            
            </span>

            <h1>{{ page.title }}</h1>
            <p>{{ page.intro }}</p>
            
        </div>

    </div>
    <!-- End Single Post Intro -->

    {% with authors=page.authors.all %}
        {% if authors %}
            <h3>Posted by:</h3>
            <ul>
                {% for author in authors %}
                    <li style="display: inline">
                        {% image author.author_image fill-40x60 style="vertical-align: middle" %}
                        {{ author.name }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% if page.main_image %}
        {% image page.main_image fill-160x100 %}
    {% else %}
        no cover photo
    {% endif %}

    {{ page.body|richtext }}

    {% for item in page.gallery_images.all %}
        <div style="float: inline-start; margin: 10px">
            {% image item.image fill-320x240 %}
            <p>{{ item.caption }}</p>
        </div>
    {% empty %}
        pas d'images
    {% endfor %}

    <p><a href="{% pageurl page.get_parent %}">Retour</a></p>

    {% with tags=page.tags.all %}
        {% if tags %}
            <div class="tags">
                <h3>Tags</h3>
                {% for tag in tags %}
                    <a href="{% slugurl 'tags' %}?tag={{ tag }}"><button type="button">{{ tag }}</button></a>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

{% endblock %}
