{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <!--<h1>{{ page.title }}</h1>-->

    <div class="intro alignfull">
        <div class="intro_inner">
            {{ page.intro|richtext }}         
        </div>
    </div>

    <!-- Sticky Post -->
    <div class="sticky_post_container">

        <h2>A la une 📢</h2>

        <div class="sticky_post_inner" style="background-image: url('/static/img/sticky_post_mockup_img.jpg');">
            <span class="post_label">Label</span>

            <span class="sticky_post_date_and_author">Le jj/mm/aaaa par <a href="">John Bonham</a></span>
            <h3><a href="">Sticky Post Title</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam od tempor incididunt ut lab.</p>
        </div>
    </div>
    <!-- End Sticky Post -->
    <h1 style="text-align: center;">Tous les articles 📰</h1>

    <div class="categories_list">
        <!-- foreach cat : -->
        <div class="category">Category name</div>
        <div class="category">Category name 2</div>
        <div class="category">etc</div>
        <!-- end foreach cat : -->
    </div>

    <div class="container_regular_posts">

        {% for post in blogpages %}
            {% with post=post.specific %}

                <!-- Regular Post -->
                <div class="regular_post">
                    <a href="{% pageurl post %}" class="regular_post_img" style="background-image: url('/static/img/sticky_post_mockup_img.jpg');">
                        
                        {% with tags=page.tags.all %}
                            {% if tags %}
                                <span class="post_label">
                                    {% for tag in tags %}
                                        <span class="post_label_tag">{{ tag }}</span>
                                    {% endfor %}
                                </span>
                            {% endif %}
                        {% endwith %}

                    </a>
                    <div class="regular_post_info">
                        <span class="post_date_and_author meta">Le {{ page.date }} par
                            
                            {% with authors=page.authors.all %}
                                {% if authors %}
                                    {% for author in authors %}
                                        {% for author in authors %}
                                            <a href="{{ author.link }}">{{ author.name }}</a>
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}

                        </span>

                        <h3><a href="{% pageurl post %}">{{ post.title }}</a></h3>

                        <p>{{ post.intro }}</p>

                        <a class="regular_post_arrow_link" href="{% pageurl post %}">
                            <svg width="22" height="22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.081 2c0-.672-.545-1.217-1.217-1.217H8.907a1.217 1.217 0 1 0 0 2.434h9.74v9.74a1.217 1.217 0 1 0 2.434 0V2zM1.861 21.725 20.725 2.86l-1.722-1.722L.14 20.003l1.722 1.722z" fill="#6760D2"/></svg>
                        </a>
                        
                    </div>
                </div>   
                <!-- End Regular Post -->

            {% endwith %}
        {% endfor %}

    </div>

{% endblock %}