{% load crispy_forms_tags %}

<div class="">
    <form hx-post="{% url 'home:contact' %}" hx-swap="outerHTML">
        {% csrf_token %}
        {{ contact_form|crispy }}
        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>
</div>
