
<div class="flex items-center h-32 bg-yellow-200 rounded-lg text-gray-600 font-bold">
    <p class="w-full text-center">Votre message a été envoyé, nous vous répondrons au plus vite !</p>
</div>
